# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.pytest_cache/

# Node
node_modules/
dist/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/

# Env
.env

frontend/src/*.js
frontend/src/components/*.js
frontend/*.tsbuildinfo

# Runtime data
data/*.json
backend/data/*.json
